<h1>Eat Dat Burger!</h1>

<div id="burgers_to_eat">
  <h2>Burgers to eat!</h2>
  <img src="https://images.emojiterra.com/google/android-oreo/512px/1f354.png" alt="Hamburger">  
  <ul>
    {{#each burger}}
      {{#unless devoured}}
        {{> burgers/burgers-ind eaten=false}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div id="add_burger">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger Type:</label>
      <input type="text" id="newBurgerInput" name="name">
    </div>

    <button type="submit">Add Burger</button>
  </form>
</div>

<div id="used_burgers">
  <h2>Used Burgers</h2>
  <img src="https://ih0.redbubble.net/image.375670226.5162/flat,800x800,075,f.u1.jpg" alt="Hamburger">
  <ul>
    {{#each burger}}
      {{#if devoured}}
        {{> burgers/burgers-ind eaten=true}}
      {{/if}}
    {{/each}}
  </ul>
</div>


